/* FONTS */
.os{
	font-family: 'Open Sans', sans-serif;
}
.qs{
	font-family: 'Quicksand', sans-serif;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(http://fonts.gstatic.com/s/quicksand/v5/sKd0EMYPAh5PYCRKSryvWz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

.shadow{
	box-shadow: 5px 5px 5px #888888;
}

.content{
	margin-top:50px;
	text-align: center;
}
.carousel{
	max-width:100%;
	width:95%; 
	height:95%; 
	margin: 0 auto;
}
.center{
	padding-top:70px;
	padding-bottom:20px;
	padding-left:20px;
	padding-right:20px;
	width:85%;
	margin: 0 auto;
	background-color:#fff;
}
.footer{
	bottom:10px;
}
.footer > p{
	position:absolute;
	right:15%;
}
.footer > a, .footer > iframe{
	position:absolute;
	left:15%;
}
/*.carousel-inner > .item > img{
	max-height:500px;
	max-width:100%;
}*/

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  	background-color: #f6f6f6 !important;
  	width:100%;
}