/* FONTS */
.os{
	font-family: 'Open Sans', sans-serif;
}
.qs{
	font-family: 'Quicksand', sans-serif;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(http://fonts.gstatic.com/s/quicksand/v5/sKd0EMYPAh5PYCRKSryvWz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

.shadow{
	box-shadow: 5px 5px 5px #888888;
}

.content{
	margin-top:50px;
	text-align: center;
}
.carousel{
	max-width:100%;
	width:95%; 
	height:95%; 
	margin: 0 auto;
}
.center{
	padding-top:70px;
	padding-bottom:20px;
	padding-left:20px;
	padding-right:20px;
	width:90%;
	margin: 0 auto;
	background-color:#fff;
}
.footer{
	bottom:10px;
	height:25px;
}
.col-sm-4{
	width:30%;
}
.col-sm-push-1{
	left:5%;
}
.footer > p{
	position:absolute;
	right:15%;
}
.footer > a, .footer > iframe{
	position:absolute;
	left:15%;
}

.margin7{
	margin-left:7px;
}
.hover{
	opacity:0.6;
	-webkit-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    transition: color 0.4s;
    cursor:default;
}

.green{
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
    transition: all 0.4s;  
}
.red{
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
    transition: all 0.4s;  
}
.yellow{
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
    transition: all 0.4s;  
}
.blue{
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
    transition: all 0.4s;  
}
.green:hover,.green:active,.green:focus{
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
    transition: all 0.4s;  
    color: #14A168;
}
.red:hover{
	opacity:1;
	color:#E96858;
	-webkit-transition: all 0.4s;
    transition: all 0.4s;  
}
.blue:hover{
	opacity:1;
	color:#3AB0E2;
	-webkit-transition: all 0.4s;
    transition: all 0.4s;  
}
.yellow:hover{
	opacity:1;
	color:#F7D861;
	-webkit-transition: all 0.4s;
    transition: all 0.4s;  
}
/*.carousel-inner > .item > img{
	max-height:500px;
	max-width:100%;
}*/

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  	background-color: #f6f6f6 !important;
  	width:100%;
}