/* FONTS */
.os{
	font-family: 'Open Sans', sans-serif;
}
.qs{
	font-family: 'Quicksand', sans-serif;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(http://fonts.gstatic.com/s/quicksand/v5/sKd0EMYPAh5PYCRKSryvWz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

.carousel{
	margin-bottom:60px;
}
.shadow{
	box-shadow: 8px 8px 8px #888888;
}

.content{
	text-align: center;
}

.center{
	padding-top:70px;
	width:90%;
	padding-left:20px;
	padding-right:20px;
	margin: 0 auto;
	background-color:#fff;
}
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  	background-color: rgba(249, 249, 249, 1) !important;
  	width:100%;
}

